@media screen and (min-width: 0px) and (max-width: 1000px) {
    /* Main Page - 1 item */
    #restaurants-list li {
        width: 90%;
        min-width: 90%;
    }
    .leaflet-touch .leaflet-bar a {
        font-size: 44px;
        min-width: 60px;
        min-height: 60px;
        line-height: 60px !important;
    }
    .filter-options select {
        font-size: 22pt;
    }
    nav h1 a {
        font-size: 28pt;
    }
    .filter-options h2 {
        font-size: 24pt;
    }
    #restaurants-list li a {
        font-size: 24pt;
    }
    /* Details Page */
}

@media screen and (min-width: 1000px) {
    /* Main Page - 2 items */
    #restaurants-list li {
        width: 40%;
        min-width: 40%;
    }
    #restaurants-list li h1 {
        font-size: 1.4em;
    }
    #restaurants-list li a {
        font-size: 1.0em;
    }
    .leaflet-touch .leaflet-bar a {
        font-size: 32px;
        min-width: 40px;
        min-height: 40px;
        line-height: 40px !important;
    }
    .filter-options select {
        font-size: 18pt;
    }
    .filter-options h2 {
        font-size: 20pt;
    }
    nav h1 a {
        font-size: 24pt;
    }
    #restaurants-list li a {
        font-size: 20pt;
    }
}

@media screen and (min-width: 1200px) {
    /* Main Page - 3 items */
    #restaurants-list li {
        width: 25%;
        min-width: 25%;
    }
    #restaurants-list li h1 {
        font-size: 1.4em;
    }
    #restaurants-list li a {
        font-size: 1.0em;
    }
    .leaflet-touch .leaflet-bar a {
        font-size: 22px;
        min-width: 30px;
        min-height: 30px;
        line-height: 30px !important;
    }
    .filter-options h2 {
        font-size: 16pt;
    }
    #restaurants-list li a {
        font-size: 16pt;
    }
}

    /* Details Page */
    @media screen and (max-width: 1050px) {

        #restaurant-container {
            flex-direction: column;
        }

        #restaurant-img {
            width: 100%;
        }

        td {
            font-size: 32pt;
        }

        #restaurant-name {
            font-size: 32pt;
        }

        #restaurant-address {
            font-size: 20pt;
        }

    }