@charset "utf-8";
/* CSS Document */

body, td, th, p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #333;
	line-height: 1.5;
}

body {
	min-width: 400px;
	background-color: #fdfdfd;
	margin: 0 auto;
	position: relative;
	max-width: 1200px;
	justify-content: center;
	align-self: center;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img {
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
	background-color: #f3f3f3;
	display: flex;
	min-height: 100%;
	flex-wrap: wrap;
}

#footer {
	background-color: #444;
	color: #aaa;
	font-size: 8pt;
	letter-spacing: 1px;
	padding: 25px;
	max-width: 1150px;
	text-align: center;
	text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
	background-color: #802e13;
}

nav h1 {
	margin: auto;
}

nav h1 a {
	color: #fff;
	font-size: 18pt;
	font-weight: 600;
	letter-spacing: 10px;
	text-transform: uppercase;
}

#breadcrumb {
	padding: 10px 40px 16px;
	list-style: none;
	background-color: #eee;
	font-size: 17px;
	max-width: 1122px;
	;
	margin: 0;
	width: 100%;
}

/* Display list items side by side */

#breadcrumb li {
	display: inline;
	font-size: 16pt;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
	color: #0b5392;
	font-weight: bold;
	text-decoration: none;
	font-size: 16pt;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
	color: #01335e;
	text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
	height: 400px;
	width: 100%;
	background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
	width: 100%;
	height: 50px;
	background-color: #9c1e03;
	align-items: center;
	justify-content: center;
	display: flex;
}

.filter-options h2 {
	color: white;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1;
	margin: 0 20px;
}

.filter-options select {
	background-color: white;
	border: 1px solid #fff;
	font-family: Arial, sans-serif;
	font-size: 12pt;
	height: 35px;
	letter-spacing: 0;
	margin: 10px;
	padding: 0 10px;
	width: 290px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #f3f3f3;
	list-style: outside none none;
	margin: 0;
	padding: 0px 15px 60px;
	text-align: center;
}

#restaurants-list li {
	background-color: #fff;
	border: 2px solid #ccc;
	font-family: Arial, sans-serif;
	margin: 15px;
	min-width: 90%;
	padding: 0 30px 25px;
	text-align: center;
}

#restaurants-list .restaurant-img {
	background-color: #ccc;
	display: block;
	margin: 0;
	max-width: 100%;
	min-height: 248px;
	min-width: 100%;
}

#restaurants-list li h1 {
	color: #c73511;
	font-family: Arial, sans-serif;
	font-size: 14pt;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 1.3;
	margin: 20px 0 10px;
	text-transform: uppercase;
}

#restaurants-list p {
	margin: 0;
	font-size: 12pt;
	font-weight: bold;
}

#restaurants-list li a {
	background-color: #c73511;
	border-bottom: 3px solid #eee;
	color: #fff;
	display: inline-block;
	font-size: 10pt;
	margin: 15px 0 0;
	padding: 8px 30px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 1200px;
	z-index: 1000;
}

#map-container {
	background: blue none repeat scroll 0 0;
	height: 80%;
	position: relative;
	max-height: 80vh;
	top: 0px;
	width: 100%;
}

.inside #map-container {
	background: blue none repeat scroll 0 0;
	height: 80%;
	position: absolute;
	max-height: 80vh;
	top: 120px;
	width: 50%;
}

.inside #map-container-details {
	background: blue none repeat scroll 0 0;
	height: 40vh;
	display: flex;
	max-height: 40vh;
	margin-top: 120px;
	width: 100%;
}

.inside #map {
	background-color: #ccc;
	height: 100%;
	width: 100%;
	position: sticky !important;
}

.inside #footer {
	bottom: 0;
	position: absolute;
	width: 100%;
}

#restaurant-name {
	color: #af640d;
	font-family: Arial, sans-serif;
	font-size: 24pt;
	font-weight: bold;
	letter-spacing: 0;
	margin: 15px 0 30px;
	text-transform: uppercase;
	line-height: 1.1;
}

#restaurant-address {
	font-size: 14pt;
	font-weight: bold;
	margin: 0px 0px;
}

#restaurant-cuisine {
	background-color: #333;
	color: #ddd;
	font-size: 16pt;
	font-weight: 300;
	letter-spacing: 10px;
	margin: 0 0 20px;
	padding: 2px 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

#restaurant-container, #reviews-container {
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #fff;
	padding: 0px 40px 20px;
	justify-content: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#restaurant-container {
	flex-direction: row;
}

#restaurant-img {
	width: 60%;
	display: flex;
}

#restaurant-info-div {
	width: 100%;
	align-items: center;
	background-color: rgb(241, 236, 236);
	display: flex;
	flex-direction: column;
}

#reviews-container h2 {
	color: #905f24;
	font-size: 24pt;
	font-weight: 300;
	letter-spacing: -1px;
	padding-bottom: 1pt;
}

#reviews-list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#reviews-list li {
	background-color: #fff;
	border: 2px solid #f3f3f3;
	display: block;
	list-style-type: none;
	margin: 0 0 30px;
	overflow: hidden;
	padding: 0 20px 20px;
	position: relative;
	width: 95%;
}

#reviews-list li p {
	margin: 0 0 10px;
}

#restaurant-hours td {
	color: #000;
	font-weight: bold;
}

/* ====================== Aria ====================== */

.aria-label {
	display: none;
}

