@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 320px) and (max-width: 589px) {
    .filter-selects {
        margin: 0px 30px;
    }
    #restaurant-container {
        flex-flow: column;
    }
    .restaurant-info {
        width: 100%;
    }
    #restaurant-img {
        height: auto;
        width: 100%;
    }
}

@media screen and (min-width: 590px) {
    #restaurants-list li {
        max-width: 40vw;
    }
    #restaurant-container {
        flex-flow: row;
    }
    #restaurant-address {
        font-size: 12pt;
        padding-left: 10px;
        padding-right: 10px;
    }
    #restaurant-adjuster {
        flex-flow: row;
    }
}

@media screen and (min-width: 1000px) {
    .container, .inside {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    #restaurants-list li {
        max-width: 30vw;
    }
    #restaurant-img {
        height: auto;
        max-width: 50vw;
    }
}